@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 * IMPORTANTE: As cores abaixo são definidas inicialmente aqui, mas snciadas 
 * dinamicamente pelo TemaContext que utiliza as constantes do arquivo src/config/colors.ts
 * Para alterar as cores do sistema, edite o arquivo colors.ts
 */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #c63b88;
  --primary-light: #3291ff;
  --border: #e5e5e5;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .container-custom {
    @apply container mx-auto px-4 sm:px-6 lg:px-8;
  }
}
