@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f907a7;
  --primary-light: #fa38b8;
  --border: #e5e5e5;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .container-custom {
    @apply container mx-auto px-4 sm:px-6 lg:px-8;
  }
}
